<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabriel Chávez Riera - Web Developer</title>
  <link rel="icon" type="image/x-icon" href="./static/images/favicon.ico">
  <!--Proprietary metatags-->

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani&amp;family=Share+Tech+Mono&amp;display=swap" rel="stylesheet">
  <!--Custom css-->
  <link rel="stylesheet" href="../static/css/index.css">
  <!-- Google Tag Manager -->
  <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5VKVFN4"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5VKVFN4');</script>
  <!--CMatrix JS-->
  <script src="cmatrix.js" type="module"></script>
</head>

<body class="dark">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VKVFN4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<canvas id="canvas" role="complementary" width="1863" class="running" height="961"></canvas>
<header>
  <div>
    <h1><a href="/" data-i18n="title">Gabriel Chavez Riera</a></h1>
    <p data-i18n="subtitle">Web developer</p>
  </div>
  <nav id="menu">
    <ul>
      <li><a href="#about-me-anchor" data-i18n="aboutMe">About me</a></li>
      <li><a href="#projects-anchor" data-i18n="projects">Projects</a></li>
      <li><a href="#skills-anchor" data-i18n="skills">Skills</a></li>
      <li><a href="#contacts-anchor" data-i18n="contact">Contact</a></li>
    </ul>
  </nav>
  <div id="menuBtn">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</header>
<main>
  <section id="about-me">
    <a class="anchor" id="about-me-anchor"></a>
    <h2 data-i18n="aboutMe">About me</h2>
    <p data-i18n="aboutMeInfo">Creative, responsible and helpful web developer. I have worked with several partners in the development of great products in different environments. I am always eager to learn everything from everywhere and from everyone. <br><br>Currently searching for new opportunities to learn and share.</p>
  </section>
  <section id="projects">
    <a class="anchor" id="projects"></a>
    <h2 data-i18n="projects">Projects</h2>
    <ul>
      <li><a href="https://amarsinorillas.com/" target="_blank" data-i18n="project5">Website for Amar sin orillas</a></li>
      <li><a href="https://comprarbtc.labitcoinera.com/" target="_blank" data-i18n="project1">Website to buy BTC for La Bitcoinera</a></li>
      <li><a href="https://ultrasonicahn.com/" target="_blank" data-i18n="project2">E-learning site for Ultrasónica</a></li>
      <li><a href="https://www.guayaquilesmidestino.com" target="_blank" data-i18n="project3">Website for Guayaquil es mi destino</a></li>
      <li><a href="https://www.bordaloecuador.com/" target="_blank" data-i18n="project4">Website for Bórdalo</a></li>
    </ul>
  </section>
  <section id="skills">
    <a class="anchor" id="skills-anchor"></a>
    <h2 data-i18n="skills">Skills</h2>
    <div class="group">
      <div class="skill">
        <figure>
          <img src="./assets/images/html-5.png" alt="HTML5 logo">
          <figcaption>HTML5</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/css-3.png" alt="CSS3 logo">
          <figcaption>CSS3</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/js.png" alt="JavaScript logo">
          <figcaption>JavaScript</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/git.png" alt="Git logo">
          <figcaption>Git</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/react.png" alt="React logo">
          <figcaption>React</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/angular.png" alt="Angular logo">
          <figcaption>Angular</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/python.png" alt="Python logo">
          <figcaption>Python</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/django.png" alt="Django logo">
          <figcaption>Django</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/drupal.png" alt="Drupal logo">
          <figcaption>Drupal</figcaption>
        </figure>
      </div>
      <div class="skill">
        <figure>
          <img src="./assets/images/wordpress.png" alt="WordPress logo">
          <figcaption>WordPress</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section id="contacts">
    <a class="anchor" id="contacts-anchor"></a>
    <h2 data-i18n="contact">Contact</h2>
    <p data-i18n="contactInfo">Have an interesting project? I would love to hear about it!</p>
    <div class="group">
      <div class="contact">
        <a href="https://www.linkedin.com/in/gabriel-chavez-riera/" target="_blank">
          <figure>
            <img src="./assets/images/linkedin.png" alt="LinkedIn logo">
            <figcaption>LinkedIn</figcaption>
          </figure>
        </a>
      </div>
      <div class="contact">
        <a href="https://github.com/gabo-cr" target="_blank">
          <figure>
            <img src="./assets/images/github.png" alt="GitHub logo">
            <figcaption>GitHub</figcaption>
          </figure>
        </a>
      </div>
      <div class="contact">
        <a href="mailto:gabrielchavezriera@gmail.com?subject=Hi" target="_blank">
          <figure>
            <img src="./assets/images/gmail.png" alt="Gmail logo">
            <figcaption>Gmail</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <hr>
    <span id="qKey" data-i18n="qKey">Try pressing the Q key and then scroll through the site. Did you feel the power of mastering The Matrix? (Press the R key to restart)</span>
  </section>
</main>
<footer>
  <aside id="filters">
    <div class="filter">
      <label for="language" data-i18n="langLabel">Language:</label>
      <select name="language" id="language">
        <option value="en" data-i18n="langEn">English</option>
        <option value="es" data-i18n="langEs">Spanish</option>
      </select>
    </div>
    <div class="filter">
      <label for="theme" data-i18n="themeLabel">Theme:</label>
      <select name="theme" id="theme">
        <option value="light" data-i18n="themeLight">Light</option>
        <option value="dark" data-i18n="themeDark" selected="">Dark</option>
      </select>
    </div>
  </aside>
  <div>
    <p data-i18n="madeBy">Made by Gabo, May 2022</p>
    <p data-i18n="updatedOn">Updated on Jan, 2023</p>
  </div>
</footer>

<!--Custom JS-->
<script src="/developer/assets/js/functions.js" type="module"></script>



<object id="__symantecPKIClientMessenger" data-supports-flavor-configuration="true" data-extension-version="0.5.0.109" style="display: none;"></object><span id="__symantecPKIClientDetector" style="display: none;">__PRESENT</span></body></html>