{% extends "baseHtml.html" %}
{% load static %}

{% block content %}



<style>
body, canvas {
  margin: 0
}
canvas {
  display: block;
}
</style>
<canvas id="canvas"></canvas>

<script>
(function run() {
    return matrix(canvas, {
        font_size: 10
    }).then(run);
})();
</script>


{% for user in Items %}
    <p>{{ user.Id }}</p>
    <p>{{ user.info.nome }}</p>
    <p>{{ user.info.cognome }}</p>
    <p>{{ user.info.attivo }}</p>
    <p>{{ user.info.username }}</p>
    <p>{{ user.info.password }}</p>
    <p>{{ user.info.rank }}</p>
{% endfor %}


{% endblock %}

